<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Tracker</title>
  <link rel="stylesheet" type="text/css" href="../static/create.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
</head>

<body>
    <div class="container-fluid">
      <!-- Row one -->
      <div class="row">
        <!-- HTML code for the navbar -->
        <div class="col">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Food Tracker</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Recipes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Food Diary</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login">Log Out</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2 navbar-search" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>

    <form method="POST" action="/saverecipe">
      <!-- Row two -->
      <div class="row">
        <div class="col-6 recipes">
          <div class="card-login">
            <div class="login-container">
              <div class="card-body card">
                <div class="recipe-input">
                  <h2 class="recipe-input__title">Enter Your Recipe Below</h2>
                  <form class="recipe-form">
                    <div class="form-group">
                      <label for="recipe-name">Recipe Name</label>
                      <input type="text" class="form-control" name="recipe-name" id="recipe-name" placeholder="Enter the name of the recipe/food">
                    </div>
                    <div class="form-group">
                      <label for="date">Date</label>
                      <input type="date" name="date" class="form-control" id="date">
                    </div>
                    <div class="form-group">
                      <label for="instructions">Instructions</label>
                      <textarea class="form-control" id="instructions" name="instructions" placeholder="Enter the instructions for this recipe..."></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 ingredients">
            <div class="card-login">
              <div class="login-container">
                <div class="card-body card">
                  <div class="recipe-input">
                    <h2 class="recipe-input__title">Select Ingredients</h2>
                    <div class="form-group">
                      <label for="food-select">Ingredients</label>
                      <select class="searchable-select form-select" id="food-select" name="ingredient">
                        <option value="">Select ingredients</option>
                        {% for ingredient in ingredients %}
                        <option value="{{ ingredient[0] }}">{{ ingredient[0] }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="selected-food">Selected Food</label>
                      <textarea class="form-control" id="selected-food" name="selected_food" rows="4"></textarea>
                    </div>
                    <input class="btn-recipe btn btn-primary" value="Create Recipe" type="submit">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
   

    <script>
      $(document).ready(function() {
        $('.searchable-select').select2({
          theme: 'bootstrap4'
        });

        var selectedIngredients = [];

        // Event listener for ingredient selection
        $('#food-select').on('change', function() {
          var selectedIngredient = $(this).val();
          if (selectedIngredient) {
            selectedIngredients.push(selectedIngredient);
            updateSelectedFood();
          }
        });

        // Function to update the selected food textarea
        function updateSelectedFood() {
          var selectedFoodText = selectedIngredients.join('\n');
          $('#selected-food').val(selectedFoodText);
        }
      });
    </script>
  </body>
</html>
